<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="network.js"></script>
		<link rel="manifest" href="./manifest.json"/>
		<link href="./static/css/main.1359096b.chunk.css" rel="stylesheet">
	<title>{{{ PRODUCT_NAME }}}</title>
	<style>
		html,
		body {
			background: #000;
			width: 100%;
			height: 100%;
			overflow: visible;
			padding: 0;
			margin: 0;
		}

		div#gameContainer {
			background: transparent !important;
			position: absolute;
		}

		div#gameContainer canvas {
			position: absolute;
		}

		div#gameContainer canvas[data-pixel-art="true"] {
			position: absolute;
			image-rendering: optimizeSpeed;
			image-rendering: -webkit-crisp-edges;
			image-rendering: -moz-crisp-edges;
			image-rendering: -o-crisp-edges;
			image-rendering: crisp-edges;
			image-rendering: -webkit-optimize-contrast;
			image-rendering: optimize-contrast;
			image-rendering: pixelated;
			-ms-interpolation-mode: nearest-neighbor;
		}
		
		#unity-loading-text{
			color: #fff;
			text-align: center;
			font-size: 40pt;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			margin: 0 auto;
		}
	</style>
</head>

<body>
	<div id="unity-loading">
		<p id="unity-loading-text">Loading 0%</p>
	</div>
	<div id="gameContainer">
		<canvas id="unity-canvas" data-pixel-art="{{{ OPTIMIZE_FOR_PIXEL_ART }}}"></canvas>
		<script src="Build/{{{ LOADER_FILENAME }}}"></script>
		<script>
			var ourInstance = null;
			var originWidth = {{{ WIDTH }}};
			var originHeight = {{{ HEIGHT }}};
			var scaleToFit = true;
			
			var canvas = document.querySelector("#unity-canvas");
			var container = canvas.parentElement;
			var loadingBar = document.querySelector("#unity-loading");
			var loadingText = document.querySelector("#unity-loading-text");
			var config = {
				dataUrl: "Build/{{{ DATA_FILENAME }}}",
				frameworkUrl: "Build/{{{ FRAMEWORK_FILENAME }}}",
				codeUrl: "Build/{{{ CODE_FILENAME }}}",
#if MEMORY_FILENAME
				memoryUrl: "Build/{{{ MEMORY_FILENAME }}}",
#endif
#if SYMBOLS_FILENAME
				symbolsUrl: "Build/{{{ SYMBOLS_FILENAME }}}",
#endif
				streamingAssetsUrl: "StreamingAssets",
				companyName: "{{{ COMPANY_NAME }}}",
				productName: "{{{ PRODUCT_NAME }}}",
				productVersion: "{{{ PRODUCT_VERSION }}}",
			};
			container.setAttribute("isportrait", false);
				
			function onResize() {
				var w;
				var h;
				
				if(window.innerWidth>window.innerHeight){
					container.setAttribute("isportrait", false);
				}
				else{
					container.setAttribute("isportrait", true);
				}

				if (scaleToFit) {
					w = window.innerWidth;
					h = window.innerHeight;
					var r = originHeight / originWidth;
						
					if(container.getAttribute("isportrait").toLowerCase()=="true"){
						r = originWidth / originHeight;
					}
						
					if (w * r > window.innerHeight) {
						w = Math.min(w, Math.ceil(h / r));
					}
					h = Math.floor(w * r);
				} 
				else {
					if(container.getAttribute("isportrait").toLowerCase()=="true"){
						w = originHeight;
						h = originWidth;
					}
					else{
						w = originWidth;
						h = originHeight;
					}
				}

				container.style.width = canvas.style.width = w + "px";
				container.style.height = canvas.style.height = h + "px";
				container.style.top = Math.floor((window.innerHeight - h) / 2) + "px";
				container.style.left = Math.floor((window.innerWidth - w) / 2) + "px";
			}
				
			function toggleOrientation(isportrait){
				container.setAttribute("isportrait", isportrait);
				onResize();
			}
			
			function callUnityResize(objName, objCallback){
				onResize();
				ourInstance.Module.SendMessage(objName, objCallback, container.getAttribute("isportrait").toLowerCase());
			}
		
			createUnityInstance(canvas, config, (progress)=>{
				loadingText.innerHTML = "Loading " + Math.ceil(100 * progress) + "%";
			}).then(function (instance) {
				loadingBar.style.display = "none";
				ourInstance = instance;
				callUnityResize();
			});
		</script>
		<script>!function(e){function r(r){for(var n,f,o=r[0],d=r[1],b=r[2],i=0,l=[];i<o.length;i++)f=o[i],Object.prototype.hasOwnProperty.call(a,f)&&a[f]&&l.push(a[f][0]),a[f]=0;for(n in d)Object.prototype.hasOwnProperty.call(d,n)&&(e[n]=d[n]);for(u&&u(r);l.length;)l.shift()();return c.push.apply(c,b||[]),t()}function t(){for(var e,r=0;r<c.length;r++){for(var t=c[r],n=!0,o=1;o<t.length;o++){var d=t[o];0!==a[d]&&(n=!1)}n&&(c.splice(r--,1),e=f(f.s=t[0]))}return e}var n={},a={21:0},c=[];function f(r){if(n[r])return n[r].exports;var t=n[r]={i:r,l:!1,exports:{}};return e[r].call(t.exports,t,t.exports,f),t.l=!0,t.exports}f.e=function(e){var r=[],t=a[e];if(0!==t)if(t)r.push(t[2]);else{var n=new Promise((function(r,n){t=a[e]=[r,n]}));r.push(t[2]=n);var c,o=document.createElement("script");o.charset="utf-8",o.timeout=120,f.nc&&o.setAttribute("nonce",f.nc),o.src=function(e){return f.p+"static/js/"+({}[e]||e)+"."+{0:"9879317b",1:"865bf2e6",2:"c11416cd",3:"66cfc2dc",4:"dc5f8d9f",5:"b3816aa6",6:"2b8a9a47",7:"81b2580d",8:"cddae4f5",9:"7f5313c8",10:"53f0e036",11:"4176db13",12:"43d1ebf0",13:"b52169cb",14:"99062170",15:"6aa197dd",16:"b5aec44f",17:"c127f492",18:"0167a956",19:"3629d7bb",23:"fa849c9b",24:"d2a7b5d7",25:"28b444c6",26:"7201c1d4",27:"8159d123",28:"bdcfcfda",29:"c94af442",30:"01988387",31:"e0a6946f",32:"a8219b98",33:"42157789",34:"155c55b4",35:"5c27d26d",36:"274f869c",37:"a586dbac",38:"844959f4",39:"18231e54",40:"4b4bac2e",41:"2875d5e0",42:"ebd1a7d4",43:"0a39bdf2",44:"5cda58dd",45:"fc335f78",46:"658f0bac",47:"38c28209",48:"de99d184",49:"f2e65a69",50:"7ac7d033",51:"bb4110d1",52:"2273bfb3",53:"7f91f00b",54:"f080fead",55:"37a22b08",56:"6f6c5a89",57:"fec4bd9a",58:"5f326138",59:"cd0f0227",60:"abdf8c4f",61:"56255e16",62:"bd5bea92",63:"6e7957e9",64:"2f1dc9ce",65:"c2c04c26",66:"111c1a75",67:"6978a81b",68:"3454be85",69:"84f5db00",70:"b7134bfc",71:"d6ef05ea",72:"845f1183",73:"f369ed0b",74:"978c0167",75:"abafd3ed",76:"f7fdf3ad",77:"5dc9cdb2",78:"24a7428f",79:"2289ab5e",80:"294d3ae0",81:"cb8dc4f6",82:"7130bb3a",83:"5ea78171",84:"095919fe"}[e]+".chunk.js"}(e);var d=new Error;c=function(r){o.onerror=o.onload=null,clearTimeout(b);var t=a[e];if(0!==t){if(t){var n=r&&("load"===r.type?"missing":r.type),c=r&&r.target&&r.target.src;d.message="Loading chunk "+e+" failed.\n("+n+": "+c+")",d.name="ChunkLoadError",d.type=n,d.request=c,t[1](d)}a[e]=void 0}};var b=setTimeout((function(){c({type:"timeout",target:o})}),12e4);o.onerror=o.onload=c,document.head.appendChild(o)}return Promise.all(r)},f.m=e,f.c=n,f.d=function(e,r,t){f.o(e,r)||Object.defineProperty(e,r,{enumerable:!0,get:t})},f.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},f.t=function(e,r){if(1&r&&(e=f(e)),8&r)return e;if(4&r&&"object"==typeof e&&e&&e.__esModule)return e;var t=Object.create(null);if(f.r(t),Object.defineProperty(t,"default",{enumerable:!0,value:e}),2&r&&"string"!=typeof e)for(var n in e)f.d(t,n,function(r){return e[r]}.bind(null,n));return t},f.n=function(e){var r=e&&e.__esModule?function(){return e.default}:function(){return e};return f.d(r,"a",r),r},f.o=function(e,r){return Object.prototype.hasOwnProperty.call(e,r)},f.p="./",f.oe=function(e){throw console.error(e),e};var o=this.webpackJsonpweb3gl=this.webpackJsonpweb3gl||[],d=o.push.bind(o);o.push=r,o=o.slice();for(var b=0;b<o.length;b++)r(o[b]);var u=d;t()}([])</script><script src="./static/js/22.59307d66.chunk.js"></script><script src="./static/js/main.975a5568.chunk.js"></script>
	</div>
</body>

</html>
